App3/Connected Services/ServiceReference1/HistoricoPantalla.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConectarDB">
        <s:complexType />
      </s:element>
      <s:element name="ConectarDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConectarDBResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarHistorico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_dispositivo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_jugador" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathimagen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pathvideo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarHistoricoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertarHistoricoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConectarDBSoapIn">
    <wsdl:part name="parameters" element="tns:ConectarDB" />
  </wsdl:message>
  <wsdl:message name="ConectarDBSoapOut">
    <wsdl:part name="parameters" element="tns:ConectarDBResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarHistoricoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarHistorico" />
  </wsdl:message>
  <wsdl:message name="InsertarHistoricoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarHistoricoResponse" />
  </wsdl:message>
  <wsdl:portType name="HistoricoPantallaSoap">
    <wsdl:operation name="ConectarDB">
      <wsdl:input message="tns:ConectarDBSoapIn" />
      <wsdl:output message="tns:ConectarDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarHistorico">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un registro por cada correo enviado por la pantall</wsdl:documentation>
      <wsdl:input message="tns:InsertarHistoricoSoapIn" />
      <wsdl:output message="tns:InsertarHistoricoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HistoricoPantallaSoap" type="tns:HistoricoPantallaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConectarDB">
      <soap:operation soapAction="http://tempuri.org/ConectarDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarHistorico">
      <soap:operation soapAction="http://tempuri.org/InsertarHistorico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HistoricoPantallaSoap12" type="tns:HistoricoPantallaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConectarDB">
      <soap12:operation soapAction="http://tempuri.org/ConectarDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarHistorico">
      <soap12:operation soapAction="http://tempuri.org/InsertarHistorico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HistoricoPantalla">
    <wsdl:port name="HistoricoPantallaSoap" binding="tns:HistoricoPantallaSoap">
      <soap:address location="http://awserver1.sistra.com.co/wspantallajunior/HistoricoPantalla.asmx" />
    </wsdl:port>
    <wsdl:port name="HistoricoPantallaSoap12" binding="tns:HistoricoPantallaSoap12">
      <soap12:address location="http://awserver1.sistra.com.co/wspantallajunior/HistoricoPantalla.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>